<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drink Shop</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/public/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/public/jquery/jquery-ui.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/main.css}" rel="stylesheet">

    <script th:src="@{/public/jquery/jquery.js}"></script>
    <script th:src="@{/public/jquery/jquery-ui.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container">
    <th:block th:insert="fragments/header"/>
    <h2>Orders</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Items</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orders : ${response.orderDTOS}">
            <th scope="row">[[${orders.id}]]</th>
            <td><p th:each="item : ${orders.orderItemDTOS}" class="card-text">[[${item.name}]] ([[${item.price}]]$), </p></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>